<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Euphoira Team</title> <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div id="dataContainer">
    <section class="text-gray-600 body-font bg-gradient-to-b from-purple-300 via bg-pink-200">
        <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-col text-center w-full mb-20">
                <h1 class="text-2xl font-medium title-font mb-4 text-gray-900">OUR TEAM</h1>
                <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Our team, diligently worked hard to create the sports management website from scratch. The main goal for our team was to learn new things and implement them into our project and to also showcase each one of us' individual talents through this mini project. The developers of the project are mentioned below:</p>
            </div> <div class="flex flex-wrap justify-center items-center -m-4">
                <div class="p-4 lg:w-1/4 md:w-1/2">
                    <div class="h-full flex flex-col items-center text-center">
                        <img src="https://media.licdn.com/dms/image/D5603AQE9fw6tU6E84w/profile-displayphoto-shrink_800_800/0/1668615914645?e=1680739200&v=beta&t=KGK7v2rqBH1cOEgi_5lAPqpyK82foUv20CB6F5FWbBE"
                            class="flex-shrink-0 rounded-lg w-full h-700 object-cover object-center mb-4">
                        <div class="w-full">
                            <h2 class="title-font font-medium text-lg text-gray-900">Anurag Bhatt</h2>
                            <h3 class="text-gray-500 mb-3">Server Administrator</h3>
                            <p class="mb-4">5th sem engineering student, works behind the scene to get any job working smoothly.</p>
                        </div> </div> </div>
                <div class="p-4 lg:w-1/4 md:w-1/2">
                    <div class="h-full flex flex-col items-center text-center">
                        <img src="https://media.licdn.com/dms/image/C4E03AQHP9H4-bYCq0g/profile-displayphoto-shrink_400_400/0/1627450441290?e=1680739200&v=beta&t=-7fsGnO8qNZaLeY3lw9mBF-5YD73pESYDa4dTMUqVsI"
                            class="flex-shrink-0 rounded-lg w-full h-700 object-cover object-center mb-4">
                        <div class="w-full">
                            <h2 class="title-font font-medium text-lg text-gray-900">Aniket Kumar Pandey</h2>
                            <h3 class="text-gray-500 mb-3">Search Manager </h3>
                            <p class="mb-4">5th sem engineering student, who always aims to find and gain new information.
                            </p>
                        </div> </div> </div>
                <div class="p-4 lg:w-1/4 md:w-1/2">
                    <div class="h-full flex flex-col items-center text-center">
                        <img src="https://media.licdn.com/dms/image/D5603AQEjleOO1lnoBg/profile-displayphoto-shrink_400_400/0/1674979012048?e=1680739200&v=beta&t=jb6JSKHeTe-v3ERcvTGgLSf4wilSmv3SLdEMfkp9Hwg"
                            class="flex-shrink-0 rounded-lg w-full h-700 object-cover object-center mb-4">
                        <div class="w-full">
                            <h2 class="title-font font-medium text-lg text-gray-900">Catherine Chandni</h2>
                            <h3 class="text-gray-500 mb-3">Frontend developer</h3>
                            <p class="mb-4">5th sem engineering student, dedicated to improve and learn. Aspiration is the key to any success.</p>
                        </div> </div> </div>
            </div></div><div>
        </div></section>
        </div>

        
</body> </html>